body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.MainMenu {
  width: 100vw;
  flex-grow: 1;
  background-color: aqua;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainFooter {
  width: 100vw;
  padding: 3px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  background-color: azure;
  border: solid black 1px;
  align-items: center;
}
